* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
.main-div {
  position: relative;
  width: 100%;
}
nav {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
nav img {
  width: 100px;
  height: 100%;
}
.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item {
  color: #6f41cb;
  font-family: "Roboto";
  font-weight: 400;
}
.signin-btn {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  color: #ffffff;
  background: linear-gradient(90deg, #855ed3, #dd8594);
}

/* Intro section */
.intro-section {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
}

/* left section styling */
.left-section {
  max-width: 30%;
  margin-top: 10%;
}
.left-section h1 {
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 900;
  color: #6f41cb;
  letter-spacing: 1px;
}
.left-section h4 {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 200;
  margin-top: 3rem;
  line-height: 2;
  color: #16121d;
}
.learn-more-btn {
  margin-top: 3rem;
  background: linear-gradient(90deg, #855ed3, #dd8594);
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 3rem;
  color: #ffffff;
}
/* right images div */
.imgs-div {
  position: absolute;
  min-height: 600px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  background: linear-gradient(90deg, #c8b9e8, #e2b5bc);
  border-radius: 1% 93% 100% 37% / 56% 0% 59% 99%;
  z-index: -1;
}
.intro-img {
  position: relative;
  top: 2rem;
  right: 6rem;
  width: 500px;
}
.vector-img {
  position: relative;
  top: 10rem;
  right: 6rem;
  width: 70px;
}
.vector-dot {
  position: relative;
  top: 8rem;
  right: 8rem;
  width: 15px;
}


.fa-bars{
  display: none;
  font-size: 30px;
}
.intro-img-2{
  display: none;
  width: 300px;
}
.mobile-screen{
  
}


/* media querries goes here */

@media screen and (max-width:768px) {
  .nav-items{
    display: none;
  }
  .signin-btn{
    display: none;
  }
  .fa-bars{
    display: block;
  }
  .intro-section{
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  .imgs-div{
    display: none;
  }
  .intro-img-2{
    display: block;
  }
  .mobile-screen{
    width: 100%;
    max-width: 80%;
    background: linear-gradient(90deg, #c8b9e8, #e2b5bc);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
}